.vacancy_details {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.vacancy_description {
    font-weight: bold;
}

.send_button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #8e2de2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.send_button:hover {
    background-color: #4a00e0;
}

.h1_resum{
    color: #FFFFFF;
    margin-bottom: 20px;
  }
  
  .resume_container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .field {
    margin-bottom: 10px;
  }
  
  .field_label {
    font-weight: bold;
  }
  
  .field_span {
    margin-left: 10px;
  }