.vacancy_details {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.vacancy_description {
    font-weight: bold;
}

.send_button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #8e2de2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.send_button:hover {
    background-color: #4a00e0;
}

.h1_resum{
    color: #61a7a1;
    margin-bottom: 20px;
  }

  .tittle_resume{
    display: flex;
    justify-content: center;
  }
  
  .resume_container {
    max-width: 800px;
    margin: 50px auto;
    background: linear-gradient(45deg, #8e2de2, #4a00e0, #00c6fb);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: -1;
    background-size: 200% auto;
    animation: gradientAnimation 5s linear infinite;
  }

  .container{
    display: flex;
    justify-content: space-between;
  }

  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .field_label {
    font-size: 24px;
    font-weight: bold;
    color: rgb(104, 191, 231)
  }
  
  .field_span {
    font-size: 24px;
    margin-left: 10px;
    color: #c5ce76;
  }